.bidomatic_contentviewer-tag {
    font-weight: bold;
    font-size: 120%;
    padding: 5px 0px 0px 5px;
}

.bidomatic_contentviewer-top {
    text-align: right;
}

.bidomatic_contentviewer-component {
    padding: 5px 0px 0px 5px;
}

.bidomatic_contentviewer-id {
    font-size: 80%;
    color: #888888;
}

.bidomatic_contentviewer-tags {
    font-size: 80%;
    color: #888888;
}

.bidomatic_bidinfo-component {
    font-size: 200%;
    font-weight: bold;
}

.bidomatic_addeditform-content_textarea {
    height: 200px;
}

.bidomatic_tagsbrowser-selected {
    font-weight: bold;
}

.bidomatic_dmtemplate-comp-cont {
    float: left;
    padding-right: 10px;
}

.bidomatic_addeditform-preview {
    border: 1px dashed #cccccc;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}